In [1]:
#!pip install --upgrade nptdms

In [3]:
import pandas as pd
import numpy as np
from datetime import timedelta
from nptdms import TdmsFile

# === 1. Charger les données MTi-680 (fichier CSV) ===
csv_file = "MT_0080002FBA_017-000.txt"
df = pd.read_csv(csv_file, sep='\t', comment='/', engine='python')

# Création d'un timestamp à partir des colonnes UTC
df['timestamp'] = pd.to_datetime(
    dict(
        year=df['UTC_Year'],
        month=df['UTC_Month'],
        day=df['UTC_Day'],
        hour=df['UTC_Hour'],
        minute=df['UTC_Minute'],
        second=df['UTC_Second']
    )
) + pd.to_timedelta(df['UTC_Nano'], unit='ns')

# === 2. Charger le fichier TDMS ===
tdms_file = TdmsFile.read("VoiesAnalogiquesStatique.tdms")

# === 3. Choisir dynamiquement un groupe (modifiable ici) ===
groupe_nom = "MoteurOn"  # ← Change ce nom selon ton fichier
groupe = tdms_file[groupe_nom]

# === 4. Lire tous les canaux du groupe et construire le DataFrame ===
# On suppose que tous les canaux ont le même timestamp de départ et incrément

# On prend le 1er canal pour récupérer le temps initial et le pas
premier_canal = next(iter(groupe.channels()))
start_time = pd.to_datetime(premier_canal.properties['wf_start_time']).to_pydatetime()
wf_increment = float(premier_canal.properties['wf_increment'])
n_samples = len(premier_canal)

# Créer la colonne temps commune
timestamps_tdms = [start_time + timedelta(seconds=i * wf_increment) for i in range(n_samples)]
df_tdms = pd.DataFrame({"timestamp": timestamps_tdms})

# Ajouter les données de chaque canal comme colonne
for canal in groupe.channels():
    df_tdms[canal.name] = canal[:]

# === 5. Synchroniser avec les données MTi-680 (par timestamp le plus proche) ===
df_sync = pd.merge_asof(
    df.sort_values("timestamp"),
    df_tdms.sort_values("timestamp"),
    on="timestamp",
    direction="nearest",
    tolerance=pd.Timedelta("11s")  # ajuster si besoin
)

# === 6. Supprimer les lignes où une ou plusieurs valeurs des canaux sont NaN ===
colonnes_tdms = [canal.name for canal in groupe.channels()]
df_sync_clean = df_sync.dropna(subset=colonnes_tdms)

# === 7. Résultat ===
df_sync_clean

,PacketCounter,SampleTimeFine,Year,Month,Day,Second,UTC_Nano,UTC_Year,UTC_Month,UTC_Day,...,Yaw,Latitude,Longitude,Altitude,Vel_E,Vel_N,Vel_U,timestamp,Susp1,Susp2
0,1825,33940956,NaN,NaN,NaN,NaN,431884322,2024,8,8,...,-4.858650,47.156731,-1.648023,78.139116,-0.017873,0.009440,0.011658,2024-08-08 14:59:42.431884322,10.640631,4.212138
1,1826,33940981,NaN,NaN,NaN,NaN,434384322,2024,8,8,...,-4.857085,47.156731,-1.648023,78.139149,-0.017205,0.014056,0.014432,2024-08-08 14:59:42.434384322,10.640631,4.212138
2,1827,33941006,NaN,NaN,NaN,NaN,436884322,2024,8,8,...,-4.855114,47.156731,-1.648023,78.138634,-0.021864,0.013616,0.015420,2024-08-08 14:59:42.436884322,10.640631,4.212138
3,1828,33941031,NaN,NaN,NaN,NaN,439384322,2024,8,8,...,-4.852703,47.156731,-1.648023,78.138675,-0.023158,0.010010,0.017170,2024-08-08 14:59:42.439384322,10.640631,4.212138
4,1829,33941056,NaN,NaN,NaN,NaN,441884322,2024,8,8,...,-4.853196,47.156731,-1.648023,78.138719,-0.024617,0.006831,0.018102,2024-08-08 14:59:42.441884322,10.640631,4.212138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15322,17147,34324010,NaN,NaN,NaN,NaN,736880637,2024,8,8,...,-27.466089,47.156732,-1.648021,78.051768,-0.015047,0.016845,0.040749,2024-08-08 15:00:20.736880637,4.982300,4.209511
15323,17148,34324035,NaN,NaN,NaN,NaN,739381637,2024,8,8,...,-27.465298,47.156732,-1.648021,78.051870,-0.015929,0.016623,0.040447,2024-08-08 15:00:20.739381637,4.982300,4.209511
15324,17149,34324060,NaN,NaN,NaN,NaN,741881637,2024,8,8,...,-27.464525,47.156732,-1.648021,78.051974,-0.017173,0.015080,0.043027,2024-08-08 15:00:20.741881637,4.982300,4.209511
15325,17150,34324085,NaN,NaN,NaN,NaN,744381637,2024,8,8,...,-27.466051,47.156732,-1.648021,78.052086,-0.016968,0.013436,0.046743,2024-08-08 15:00:20.744381637,4.982300,4.209511
15326,17151,34324110,NaN,NaN,NaN,NaN,746881637,2024,8,8,...,-27.468966,47.156732,-1.648021,78.052219,-0.016217,0.013192,0.048602,2024-08-08 15:00:20.746881637,4.982300,4.209511

In [4]:
df_sync_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15327 entries, 0 to 15326
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PacketCounter   15327 non-null  int64
 1   SampleTimeFine  15327 non-null  int64
 2   Year            0 non-null      float64
 3   Month           0 non-null      float64
 4   Day             0 non-null      float64
 5   Second          0 non-null      float64
 6   UTC_Nano        15327 non-null  int64
 7   UTC_Year        15327 non-null  int64
 8   UTC_Month       15327 non-null  int64
 9   UTC_Day         15327 non-null  int64
 10  UTC_Hour        15327 non-null  int64
 11  UTC_Minute      15327 non-null  int64
 12  UTC_Second      15327 non-null  int64
 13  UTC_Valid       15327 non-null  int64
 14  StatusWord      15327 non-null  int64
 15  Acc_X           15327 non-null  float64
 16  Acc_Y           15327 non-null  float64
 17  Acc_Z           15327 non-null  float64
 18  FreeAcc_E       15327 non-null  float64
 19  FreeAcc_N       15327 non-null  float64
 20  FreeAcc_U       15327 non-null  float64
 21  Roll            15327 non-null  float64
 22  Pitch           15327 non-null  float64
 23  Yaw             15327 non-null  float64
 24  Latitude        15327 non-null  float64
 25  Longitude       15327 non-null  float64
 26  Altitude        15327 non-null  float64
 27  Vel_E           15327 non-null  float64
 28  Vel_N           15327 non-null  float64
 29  Vel_U           15327 non-null  float64
 30  timestamp       15327 non-null  datetime64[ns]
 31  Susp1           15327 non-null  float64
 32  Susp2           15327 non-null  float64
dtypes: datetime64[ns](1), float64(21), int64(11)
memory usage: 4.0 MB

In [5]:
df_sync_clean.timestamp

0       2024-08-08 14:59:42.431884322
1       2024-08-08 14:59:42.434384322
2       2024-08-08 14:59:42.436884322
3       2024-08-08 14:59:42.439384322
4       2024-08-08 14:59:42.441884322
                     ...
15322   2024-08-08 15:00:20.736880637
15323   2024-08-08 15:00:20.739381637
15324   2024-08-08 15:00:20.741881637
15325   2024-08-08 15:00:20.744381637
15326   2024-08-08 15:00:20.746881637
Name: timestamp, Length: 15327, dtype: datetime64[ns]

In [8]:
df_sync_clean

,PacketCounter,SampleTimeFine,Year,Month,Day,Second,UTC_Nano,UTC_Year,UTC_Month,UTC_Day,...,Yaw,Latitude,Longitude,Altitude,Vel_E,Vel_N,Vel_U,timestamp,Susp1,Susp2
0,1825,33940956,NaN,NaN,NaN,NaN,431884322,2024,8,8,...,-4.858650,47.156731,-1.648023,78.139116,-0.017873,0.009440,0.011658,2024-08-08 14:59:42.431884322,10.640631,4.212138
1,1826,33940981,NaN,NaN,NaN,NaN,434384322,2024,8,8,...,-4.857085,47.156731,-1.648023,78.139149,-0.017205,0.014056,0.014432,2024-08-08 14:59:42.434384322,10.640631,4.212138
2,1827,33941006,NaN,NaN,NaN,NaN,436884322,2024,8,8,...,-4.855114,47.156731,-1.648023,78.138634,-0.021864,0.013616,0.015420,2024-08-08 14:59:42.436884322,10.640631,4.212138
3,1828,33941031,NaN,NaN,NaN,NaN,439384322,2024,8,8,...,-4.852703,47.156731,-1.648023,78.138675,-0.023158,0.010010,0.017170,2024-08-08 14:59:42.439384322,10.640631,4.212138
4,1829,33941056,NaN,NaN,NaN,NaN,441884322,2024,8,8,...,-4.853196,47.156731,-1.648023,78.138719,-0.024617,0.006831,0.018102,2024-08-08 14:59:42.441884322,10.640631,4.212138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15322,17147,34324010,NaN,NaN,NaN,NaN,736880637,2024,8,8,...,-27.466089,47.156732,-1.648021,78.051768,-0.015047,0.016845,0.040749,2024-08-08 15:00:20.736880637,4.982300,4.209511
15323,17148,34324035,NaN,NaN,NaN,NaN,739381637,2024,8,8,...,-27.465298,47.156732,-1.648021,78.051870,-0.015929,0.016623,0.040447,2024-08-08 15:00:20.739381637,4.982300,4.209511
15324,17149,34324060,NaN,NaN,NaN,NaN,741881637,2024,8,8,...,-27.464525,47.156732,-1.648021,78.051974,-0.017173,0.015080,0.043027,2024-08-08 15:00:20.741881637,4.982300,4.209511
15325,17150,34324085,NaN,NaN,NaN,NaN,744381637,2024,8,8,...,-27.466051,47.156732,-1.648021,78.052086,-0.016968,0.013436,0.046743,2024-08-08 15:00:20.744381637,4.982300,4.209511
15326,17151,34324110,NaN,NaN,NaN,NaN,746881637,2024,8,8,...,-27.468966,47.156732,-1.648021,78.052219,-0.016217,0.013192,0.048602,2024-08-08 15:00:20.746881637,4.982300,4.209511